body{
    font:15px/1.5 "abel", sans-serif;
    padding:0;
    margin:0;
    background-color:#ffd769;
}


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    font-family: "abel", sans-serif;
}

header h1{
    color:white;  
}

header{
    background-color:#6c9ceb;
    color:black;
    padding-top: 30px;
    min-height: 60px;
    border-bottom: black 5px solid;
}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px ;
}
header #branding{
    float:left;
}

header nav{
    float:right;
    margin-top:40px;
}

header a:hover{
    color:#7d5e02;                              
}

header .highlight{
    color:#ffd769;
    font-weight:bold;
}

header .current{
    color:#7d5e02;
    font-weight:bold;
    font-size: 16;
    text-decoration: none;
    text-transform: uppercase;
}

a:active {
    color:red;
}

#showcase {
    min-height: 800px;
    background-position: center;
    background:url('../img/Bacc.jpg') no-repeat -700px -1300px;
    text-align: center;
    color:#ffffff;
    border-bottom: black 5px solid;
}

#showcase h1{
    margin-top:300px;
    font-size:55px;
    margin-bottom: 10px;
    color:#ffd769;
}

#showcase p{
    color:#ffffff;
    font-size: 28px;
}

#newsletter h1{
    color:royalblue;
}

#boxes h2{
    font-family: "abel", sans-serif
}

.headline{
    font-size:30px;
}