body{
    font:15px/1.5 "abel", sans-serif;
    padding:0;
    margin:0;
    background-color:#000000;
}


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    font-family: "abel", sans-serif;
}

header h1{
    color:white;  
}

header{
    background-color:#000000;
    color:black;
    padding-top: 30px;
    min-height: 60px;
}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px ;
}
header #branding{
    text-align:center;
    font-size:32;
}

header nav{
    margin-top:20px;
    text-align:center;
    margin-left
}

header a:hover{
    color:#7d5e02;                              
}

header .highlight{
    color:grey;
    font-weight:bold;
}

header .current{
    color:#7d5e02;
    font-weight:bold;
    font-size: 16;
    text-decoration: none;
    text-transform: uppercase;
}

#showcase {
    min-height: 1005px;
    background:url('../img/picc.png') no-repeat 250px -500px ;
    height: 100vh;
    background-size: auto;
    background-position: center;  
    text-align: center;
    color:#ffffff;
}

#showcase h1{
    margin-top:300px;
    font-size:55px;
    margin-bottom: 10px;
    color:#ffd769;
}

#showcase p{
    color:#ffffff;
    font-size: 28px;
}

#newsletter h1{
    color:#40361A;
}

#boxes{
    font-family: "abel", sans-serif;
    color:white;
}

.headline{
    font-size:30px;
    color:white;
}

.button{
    margin-top: 375px;
    color:#ffffff;
}

.btn {
  padding:30px;
  padding-top:10px;
  color: black;
  text-decoration: none;
  margin-right: 5px;
  font-size: 16px;
  text-transform: uppercase;
}


.btn:hover{
    color:white;
    background:url('../img/coggs.png');
    background-color:black;
    transition: all 0.50s ease-in;
}

